/* body{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr;
  margin: 0;
  grid-template-areas:
  "h1 h1 h1 h1"
  "headernav article1 article2 . ";


}

h1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-area: h1;
  text-align: center;
}

header{
  height: 9em;
  padding-bottom: 1em;
  background-color: #FFE4C4;
  height: 100%;
}

header nav{
  text-align: center;
  grid-area: headernav;

}

header nav h1{
  margin-top: 0;
  padding-top: 1em;


}





img {
  width: 100%;
  max-width: 100%;
}

main{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

main form{
  height: 3em;
  padding-top: 1em;
  grid-area: form;
}

main img{
  max-width: 25em;
  width: 100%;
}

article{
  display: flex;
  flex-direction: column;
  text-align: center;
}

article:nth-child(3){
  grid-area: article1;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; */
/* } */

/* article:nth-child(2){
  grid-area: article2
}

article p{
  margin: 0 auto;
  width: 40%;
} */


body {
    font-family: 'Open Sans';
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 750px 350px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m c c c c c q q q q q"
        "m m f f f f f f f f f f";
}

header {
    grid-area: h;
    text-align: center;
}

aside nav > ul{
  list-style-type: none;
}

aside nav > ul a{
  color: #000000;
  text-decoration: none;
}

aside {
    grid-area: m;
}

body aside:nth-child(4){
  grid-area: q;
  display: flex;
}

body aside:nth-child(4) svg{
  width: 10%;
}

article {
    grid-area: c;
}

article img{
  width: 100%;
  max-width: 42em;
}

footer{
  grid-area: f;
}

@media screen and (max-width: 640px) {
    body {
        grid-template-areas:
            "m m m m m m h h h h h h"
            "c c c c c c c c c c c c"
            "f f f f f f f f f f f f";
    }
}
